<html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div >
  <img src="../../../assets/images/12.png" width="100%" height="600px"class="rounded float-right" alt="...">
  <br><br>
  <div class="centered">
    <h1>3D environment commerce </h1>
  <br>

  <br>

</div>

</div>
 <br><br><br><br>
<div class="w3-content" style="max-width:1100px">

    <div class="w3-row w3-padding-64" id="about">
      <div  class="w3-col m6 w3-padding-large w3-hide-small">
        <br><br>
       <img  src="./assets/2.avif" style="margin-top:5px ; " alt="Table Setting" width="550" height="550">
      </div>

      <div class="w3-col m6 w3-padding-large">

      <br><br>
      <div style ="padding-left:30px;" class="text" >
        <br>
        <h1  class="w3-center" >Why 3D environnement commerce </h1><br>
        <h5 class="w3-center"> That's why you should Visit Our Application</h5>
        <p class="w3-large">A 3D environment for commerce is a virtual three-dimensional representation of a commercial space designed to provide an immersive and interactive experience for users. This type of environment leverages 3D technology to realistically recreate commercial spaces such as stores, shopping malls, or online exhibitions. </p>
       
      </div></div>
    </div>
  </div>

    <div class="bottom">
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <h3>SHARE</h3>
            <img class="a" src="./assets/A.png"  style="width:90%">

          </div>
          <div class="w3-quarter">
            <h3>YOUR</h3>
            <img class="a" src="./assets/6.png"  style="width:90%">

          </div>
          <div class="w3-quarter">
            <h3>3D PRODUCTS</h3>
            <img class="a" src="./assets/4.png"  style="width:90%">

          </div>
          <div class="w3-quarter">
            <h3>WITH-US</h3>
            <img class="a" src="./assets/2.avif"  style="width:90%">

          </div>
        </div>


      </div>

      <img style="margin-left: 300px;" width="900px" height="300px" src="./assets/images/pal.png"  />



</body>
</html>
